/* RESET */

*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

html{
    font-size: 100%;
    font-family: 'Montserrat', sans-serif;
}

a{
    font-weight: inherit;
    color: inherit;
    text-decoration: none;
}

ul{
    list-style-type: none;
}

img{
    max-width: 100%;
}



/* COMMON */

.wrapper{
    width: 100%;
    height: 100vh;
}

footer{
    background-color: #1A1A1A;
    height: 80px;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 1000;
    padding: 0 1rem;
}

main{
    height: calc(100% - 80px);
    width: 100%;
}

#sidebar{
    width: 220px;
    height: 100%;
    background-color: black;
    padding: 2rem 2rem .7rem;
    font-weight: bolder;
}

#box{
    width: calc(100% - 220px);
    height: 100%;
    background-color: #1A212F;
    overflow-y: auto;
    padding-top: calc(70px);
}

#box header{
    width: calc(100% - 220px);
    height: 70px;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 500;
    background-color: rgba(5, 7, 11, 0.5);
    padding: 0 2rem;
    overflow-x: auto;
}

#box .container{
    width: 100%;
    max-width: 1250px;
    padding: 1rem;
    height: calc(100% - 80px);
}

.btn{
    padding: .4rem 1.2rem;
    color: white;
    border: 1px solid white;
    border-radius: 20px;
    font-size: .8rem;
    letter-spacing: 2px;
    display: inline-block;
    transition: .2s;
}

#plus-icon{
    font-size: 3rem;
}

#underline , #leftline{
    background-color: #6EA31E;
}

#underline{
    height: 2px;
    width: 2rem;
}

#leftline{
    width: 2px;
    height: 2rem;
}

    /* effetti hover ai links */
a:hover{
    color: white;
}

#special-text:hover{
    color: purple;
    text-decoration: underline;
}




/* UTILITIES */

.flex{
    display: flex;
}

.flex-wrap{
    flex-wrap: wrap;
}

.column{
    flex-direction: column;
}

.just-end{
    justify-content: flex-end;
}

.just-center{
    justify-content: center;
}

.just-between{
    justify-content: space-between;
}

.align-start{
    align-items: flex-start;
}

.align-end{
    align-items: flex-end;
}

.align-center{
    align-items: center;
}

.text-center{
    text-align: center;
}

.text-white{
    color: white;
}

.text-gray{
    color: gray;
}

.size15{
    font-size: 1.5rem;
}

.size08{
    font-size: .8rem;
}

.bolder{
    font-weight: bolder;
}

.mt-2{
    margin-top: 2rem;
}

.mt-1{
    margin-top: 1rem;
}

.mt-05{
    margin-top: .5rem;
}

.mr-1{
    margin-right: 1rem;
}

.mr-05{
    margin-right: .5rem;
}

.width100{
    width: 100%;
}



/* SIDEBAR */
#sidebar li{
    margin: .5rem 0;
    font-size: .9rem;
    position: relative;
}

#sidebar .prima-lista li:first-child img{
    width: 70%;
    margin-bottom: 1rem;
}

#sidebar .prima-lista li img ,
#sidebar .oggetti_sotto img{
    width: 15%;
}

#sidebar li #leftline{
    position: absolute;
    left: -2rem;
    top: 50%;
    transform: translate(0 , -50%);
}

#sidebar #profile-pic{
    width: 25px;
    height: 25px;
    object-fit: contain;
    border-radius: 50%;
    background-color: gray;
}

#sidebar img ,
#sidebar span{
    vertical-align: middle;
}

#sidebar .hidden-down ,
#sidebar .hidden-up{
    display: none;
}


@media screen and (max-width: 600px) {

    #sidebar{
        width: 60px;
        padding: 1rem;
    }

    #box , #box header{
        width: calc(100% - 60px);
    }

    #sidebar .oggetti_sotto ,
    #sidebar .oggetti_sopra{
        display: none;
    }

    #sidebar .hidden-down ,
    #sidebar .hidden-up{
        display: block;
    }

    #sidebar li{
        width: 100%;
    }

    #sidebar .hidden-down li:first-child img{
        width: 60%;
    }

}
/* / SIDEBAR */



/* HEADER */
header div:hover .btn{
    scale: 1.15;
}
/* / HEADER */



/* CONTAINER */
.container nav li{
    margin-bottom: 1.6rem;
    margin-right: 2rem;
    font-weight: 600;
    font-size: .9rem;
    position: relative;
}

.container nav #underline{
    position: absolute;
    bottom: -6px;
    left: 50%;
    transform: translate(-50% , 0);
}

.container .item h1 ,
.container .item > p{
    padding: 0 1rem;
}

.container .card{
    width: calc(100% / 6);
    padding: 1rem;
}

.container #last-item img{
    object-fit: cover;
    width: 100%;
    border-radius: 50%;
}


@media screen and (max-width: 1100px) {

.container .card{
    width: calc(100% / 4);
}

}

@media screen and (max-width: 700px) {

    .container .card{
        width: calc(100% / 2);
    }
    
}

    /* effetto velo sull' immagine */
.uncovered-img{
    position: relative;
}

.dark-veil{
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0, 0.7);
    color: white;
    font-size: 3rem;
}

.uncovered-img:hover .dark-veil{
    display: block;
}

.dark-veil span{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
}

/* / CONTAINER */



/* FOOTER */
footer .player-sx{
    width: 200px;
}

footer .player-dx{
    width: 170px;
}

footer .player-sx img{
    width: 45px;
}

@media screen and (max-width: 700px){
    footer .player-sx > div:last-child{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
}

footer .player-centrale{
    width: 40%;
}

footer .player-centrale li{
    margin: 0 .5rem;
}

    /* effetti barra player */

#small-bar{
    width: 80px;
    height: 7px;
}

#small-bar-SX{
    width: 25px;
    height: 7px;
    background-color: #7B7B7B;
    position: relative;
}

#small-bar-DX{
    width: 55px;
    height: 7px;
    background-color: #3A3A3A;
}

#large-bar{
    height: 7px;
    width: 100%;
}

#large-bar-SX{
    height: 7px;
    width: 60%;
    background-color: #7B7B7B;
    position: relative;
}

#large-bar-DX{
    height: 7px;
    width: 40%;
    background-color: #3A3A3A;
}

#small-bar:hover #small-bar-SX ,
#large-bar:hover #large-bar-SX{
    background-color: rgb(8, 250, 0);
}

.selector{
    display: none;
    background-color: #3A3A3A;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(50% , -50%);
}

#small-bar:hover .selector ,
#large-bar:hover .selector{
    display: block;
}
/* / FOOTER */